@{
    ViewBag.Title = "Contact";
}

<h3>Projeyi Geliştiren</h3>
<h3>Ahmet Keşab</h3>
<h3>B2012000371</h3>

<address>
    Kemalpaşa, Esentepe Kampüsü, Üniversite Cd., 54050 Serdivan/Sakarya
</address>

<address>
    <strong>Destek:</strong>   <a href="mailto:ahmet1kesab@gmail.com">ahmet1kesab@gmail.com</a><br />
</address>