@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Yazılım Staj Bitirme Projesi</h1>
    <p class="lead">Sakarya Üniversitesi | Geleceğinize Yön Verin | SAÜ</p>
    <p><a href="https://www.sakarya.edu.tr/" class="btn btn-primary btn-lg">Daha Fazlası İçin Tıklayınız &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Ürün Yönetim Sistemi</h2>
        <p>
            Ürün Yönetim sistemi ürünleri sistem içerisinde tanımlayıp veri tabanına kaydederek ürünlerin listelenmesini sağlama amacını hedeflemektedir.
        </p>
        <p><a href="https://www.sakarya.edu.tr/" class="btn btn-primary btn-lg">Daha Fazlası İçin Tıklayınız &raquo;</a></p>
    </div>
</div>